html, * {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body, html {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #979591;
  color: #000014;
}

.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin: 0px auto;
  width: 100%;
  max-width: 1590px;
  background-color: #fff;
  border: 75px solid #b8a84c;
  transition: all 0.3s ease;
}

.wrap {
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0px 20px 20px;
  background-color: #fff;
  border-bottom: 1px dotted #b8a84c;
}
.wrap .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  width: 100%;
  max-width: 300px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.wrap .container .title {
  font-family: "Barlow Condensed", serif;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  font-style: normal;
  text-decoration: underline;
  margin-bottom: 0.5em;
}
.wrap .container .item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 5px;
}
.wrap .container .item button {
  cursor: pointer;
}
.wrap .container .audio-player {
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eee;
  display: inline-block;
  cursor: pointer;
}
.wrap .container i.fa-play,
.wrap .container i.fa-pause {
  font-size: 12px;
}
.wrap .container .play-pause-btn {
  display: -ms-flexbox;
  display: flex;
  jusify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 3px 5px;
  margin-right: 1em;
}
.wrap .container .dropdown {
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0px;
  border-top: none;
  cursor: default;
  max-height: 6em;
  overflow-y: scroll;
  overflow-y: hidden;
}
.wrap .container .dropdown::-webkit-scrollbar {
  width: 5px;
}
.wrap .container .dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.wrap .container .dropdown::-webkit-scrollbar-thumb {
  background: #888;
}
.wrap .container .dropdown::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.search-field {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 650px;
  margin: 20px auto 0px;
  padding: 20px;
  -ms-flex-align: center;
      align-items: center;
  background-color: #fff;
}
.search-field .searchArea {
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #727272;
  width: 100%;
  max-width: 300px;
  background-color: #fff;
}
.search-field .searchArea .mag {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #fff;
  padding: 0px 8px;
}
.search-field .searchArea input {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 2;
      flex: 2;
  webkit-display: none;
  font-size: 1em;
  border: none;
  padding: 10px;
  background-color: #f1f1f1;
  color: #333;
  border-left: 1px solid #fff;
}
.search-field .searchArea input:focus {
  outline: none;
}
.search-field .searchArea .reset {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.search-field .searchArea .reset i.fa-backspace {
  color: #727272;
  transition: all 0.2s ease;
}
.search-field .searchArea .reset:hover i.fa-backspace {
  color: #ee6f75;
}

.books {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 2em;
}
.books .book {
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 10px;
}
.books .book img {
  width: 100%;
  max-width: 198px;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  transition: all 0.2s ease;
}
.books .book a.ba {
  transition: all 0.15s ease;
}
.books .book a.ba:hover {
  -ms-transform: scale(0.95);
      transform: scale(0.95);
}
.books .book .bookInfo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.books .book .bookInfo h2.stext {
  width: 100%;
  border-bottom: 1px solid #313131;
}
.books .book .bookInfo a.osl {
  width: 230px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #2c4290;
  padding: 0.5em;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}
.books .book .bookInfo a.osl:hover {
  color: #fff;
  opacity: 0.8;
  -ms-transform: scale(0.95);
      transform: scale(0.95);
}

@media screen and (max-width: 1170px) {
  .books {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .books .book {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .books .book img {
    display: none;
  }
  .books .book p {
    line-height: 1em;
    margin-bottom: 0.5em;
  }
  .books .book .bookInfo {
    width: 100%;
  }
  .books .book .bookInfo a.osl {
    width: 100%;
    padding: 1em;
  }
}
.msg {
  width: 90%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 20px 20px 100px;
  background-color: #fff;
}
.msg .ttext {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 2em;
  font-optical-sizing: auto;
  font-weight: 600;
  letter-spacing: 2px;
  font-style: normal;
  margin: 1em 0 0.5em;
}
.msg .stext {
  font-family: "Barlow Condensed", serif;
  font-size: 1.2em;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  -webkit-text-decoration-color: blue;
          text-decoration-color: blue;
  transition: all 0.2s ease;
}
a:hover {
  color: #8f823b;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}

em {
  font-style: italic;
}

#toggleAbtPg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  padding: 1em;
  cursor: pointer;
  color: #fff;
  background-color: #2c4290;
  opacity: 1;
  transition: all 0.2s ease;
}
#toggleAbtPg:hover {
  opacity: 0.8;
}
#toggleAbtPg i {
  margin-right: 1em;
}

#abtPg {
  display: none;
  background-color: #f1f1f1;
  padding: 1em;
}
#abtPg i.fa-smile {
  color: #d78d3e;
}

@media screen and (max-width: 620px) {
  .page {
    border: 10px solid #b8a84c;
  }

  .msg {
    width: 100%;
    padding: 20px 10px 40px;
  }

  .search-field {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
  }
  .search-field .searchArea {
    max-width: 100%;
  }

  .wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    min-height: 320px;
  }
  .wrap .container {
    min-height: 4em;
  }
  .wrap .container .title {
    margin-bottom: 0.25em;
  }
  .wrap .container .dropdown {
    margin-top: 0;
  }

  .odessey {
    margin-top: 1em;
  }

  .container.o-names {
    margin-bottom: 1.5em;
  }
}
