body, html {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #979591;
  // background-color: #fff;
  // background-color: #313131;
  color: #000014;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  max-width: 1590px;
  background-color: #fff;
  border: 75px solid #b8a84c;
  transition: all 0.3s ease;
}
.wrap {
  display: flex;
  height: 180px;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  justify-content: center;
  padding: 0px 20px 20px;
  // align-items: center;
  background-color: #fff;
  // color: #fff;
  border-bottom: 1px dotted #b8a84c;
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
    // padding: 0px 10px;
    .title {
      font-family: "Barlow Condensed", serif;
      font-size: 1.2em;
      font-weight: 500;
      letter-spacing: 2px;
      font-style: normal;
      text-decoration: underline;
      margin-bottom: 0.5em;
    }

    .item {
      display: flex;
      align-items: center;
      padding: 5px;
      button {
        cursor: pointer;
      }
    }
    .audio-player {
      width: 18px;
      height: 18px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #eee;
      display: inline-block;
      cursor: pointer;
    }
    i.fa-play,
    i.fa-pause {
      font-size: 12px;
    }
    .play-pause-btn {
      display: flex;
      jusify-content: center;
      align-items: center;
      padding: 3px 5px;
      margin-right: 1em;
    }
    .dropdown {
      // display: none;
      padding-bottom: 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0px;
      // background-color: #444;
      // background-color: #313131;
      border-top: none;
      cursor: default;
      max-height: 6em;
      overflow-y: scroll;
      overflow-y: hidden;
    }
    .dropdown::-webkit-scrollbar {
      width: 5px;
    }
    /* Track */
    .dropdown::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    /* Handle */
    .dropdown::-webkit-scrollbar-thumb {
      background: #888;
    }
    /* Handle on hover */
    .dropdown::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
.search-field {
  display: flex;
  width: 100%;
  max-width: 650px;
  margin: 20px auto 0px;
  padding: 20px;
  align-items: center;
  background-color: #fff;
  .searchArea {
    display: flex;
    border: 1px solid #727272;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    .mag {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 0px 8px;
      i.fa-search {
        // padding: 10px;
      }
    }
    input {
      display: flex;
      flex: 2;
      webkit-display: none;
      font-size: 1em;
      border: none;
      padding: 10px;
      background-color: #f1f1f1;
      color: #333;
      border-left: 1px solid #fff;
    }
    input:focus {
      outline: none;
    }
    .reset {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s ease;
      
      i.fa-backspace {
        // padding: 10px;
        color: #727272;
        transition: all 0.2s ease;
      }
      &:hover i.fa-backspace {
        color: #ee6f75;
      }
    }
  }
}
.msg {
  width: 90%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 20px 20px 100px;
  background-color: #fff;
  .ttext {
    font-family: "Playfair Display", serif;
    font-size: 2em;
    font-optical-sizing: auto;
    font-weight: 600;
    letter-spacing: 2px;
    font-style: normal;   
  }
}

@media screen and (max-width: 620px) {
  .page {
    border: 10px solid #b8a84c;
  }
  .search-field {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    .searchArea {
      max-width: 100%;
      // font-size: 1.2em;
    }
  }
  .wrap {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 320px;
    .container {
      min-height: 4em;
      .title {
        margin-bottom: 0.25em;
      }
      .dropdown {
        margin-top: 0; 
      }
    }
  }
  .odessey {
    margin-top: 1em;
  }
  .container.o-names {
    margin-bottom: 1.5em;
  }
}